DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=change-me
DB_NAME=github_chatbot

GITHUB_WEBHOOK_SECRET=change-me
GITHUB_TOKEN=change-me

LLM_API_KEY=
LLM_MODEL=gemini-1.5-flash

WEBHOOK_PORT=5002
BOOTSTRAP_MAX_COMMITS=500
GRAPH_FILE=codebase_graph.json

TARGET_REPO=aaryaman1221/github-chatbot
GRAPH_PATH=/Users/aaryamansonawane/github-chatbot/codebase_graph.json
